html {
    position: relative;
    min-height: 100%;
    font-size: 16px;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
img {
    padding: 2px;
}

a[data-theme="dark"] {

  color: #ffffff;
}
a[data-theme="light"] {
  color: #000000;
}



#sidebar {
    overflow: auto;
    max-height: 700px;
}

#sidebar .nav li {
  list-style-type: none;
  padding: 0;
  line-height: 1.0;
  flex-direction: row;
  flex-wrap: nowrap; /* assumes you only want one row */
}

.nav-link[data-theme="dark"] {
  color: white;
}
.nav-link[data-theme="white"] {
  color: rgb(0, 0, 0);
}

/* Main table for the list of news */

.btn-group-xs > .btn, .btn-xs {
  padding: 0;
  font-size: 16px;
  line-height: .09;
  border-radius: 0;
}

/* Sticky footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.footer a[data-theme="dark"]{
  color: #FFFFFF;
}
.footer a[data-theme="white"]{
  color: #000000;
}

.input-group-inline {
    min-width: 0;
    width: 200px;
    display: inline;
}

.alert {
  margin-bottom: 1px;
  height: 30px;
  line-height: 30px;
  padding: 0px 15px;
}

.alert-message {
    position: relative;
    display: block;
    z-index: 1001;
}


/*customization for Flask-Paginate*/
.pagination-page-info {
    display: inline;
}
