html {
    height: 100%;
}

body {
    font:normal medium 'Gill Sans','Gill Sans MT',Verdana,sans-serif;
    line-height:1.75;
    height: 100%;
    margin: 0;
    padding: 0;
}

#logform {
   text-align:center;
   clear: both;
   position: float;
   vertical-align: center;
   margin-top: 10%;

}

img {
    border:0;
}
