# use glob syntax
syntax: glob

*.elc
*.pyc
*~
*.db

# Emacs
eproject.cfg

# Temporary files (vim backups)
*.swp

# Log files:
*.log

# Vagrant:
.vagrant/

# Virtualenv
venv
build

newspipe.egg-info/

newspipe/conf/conf.cfg
.coverage

# js and node files
node_modules
newspipe/web/static/bower_components/
newspipe/web/static/js/bundle.min.js
