# use glob syntax
syntax: glob

*.elc
*.pyc
*.pyo
*~
*.db
*.mo
eproject.cfg
*#
.vscode/
.idea/
*.swp

# Virtualenv
venv
build/
dist/
*.egg
*.egg-info/
.python-version

# Project related
var/log/
migrations/var/
var/
docs/_build/
node_modules
newspipe/static/npm_components
contrib/crawler-user-agents.json
instance/production.py
*.wsgi
