# use glob syntax
syntax: glob

*.elc
*.pyc
*~
*.db

# Emacs
eproject.cfg

# Temporary files (vim backups)
*.swp

# Log files:
*.log

# Vagrant:
.vagrant/

# Virtualenv
venv
build

src/conf/conf.cfg
.coverage

# node files
node_modules
src/web/static/js/bundle.min.js
