[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
requests = "*"
chardet = "*"
requests-futures = "*"
feedparser = "*"
"beautifulsoup4" = "*"
lxml = "*"
opml = "*"
SQLAlchemy = "*"
alembic = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Login = "*"
Flask-Principal = "*"
Flask-WTF = "*"
Flask-RESTful = "*"
Flask-Restless = "*"
Flask-paginate = "*"
Flask-Babel = "*"
Flask-SSLify = "*"
Flask-Migrate = "*"
Flask-Script = "*"
WTForms = "*"
sendgrid = "*"
python-dateutil = "*"
psycopg2-binary = "*"

[dev-packages]
