[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6.4"

[packages]

aiohttp = "==3.0.2"
requests = "==2.18.4"
chardet = "==3.0.4"
requests-futures = "==0.9.7"
feedparser = "==5.2.1"
"beautifulsoup4" = "==4.6.0"
lxml = "==4.1.1"
opml = "==0.5"
"psycopg2" = "==2.7.4"
SQLAlchemy = "==1.2.4"
alembic = "==0.9.8"
Flask = "==0.12.2"
Flask-SQLAlchemy = "==2.3.2"
Flask-Login = "==0.4.1"
Flask-Principal = "==0.4.0"
Flask-WTF = "==0.14.2"
Flask-RESTful = "==0.3.6"
Flask-Restless = "==0.17.0"
Flask-paginate = "==0.5.1"
Flask-Babel = "==0.11.2"
Flask-SSLify = "==0.1.5"
Flask-Migrate = "==2.1.1"
Flask-Script = "==2.0.6"
WTForms = "==2.1"
sendgrid = "==5.3.0"
python-dateutil = "==2.6.1"


[dev-packages]

