[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]

aiohttp = "*"
requests = "*"
chardet = "*"
requests-futures = "*"
feedparser = "*"
"beautifulsoup4" = "*"
lxml = "*"
opml = "*"
"psycopg2" = "*"
SQLAlchemy = "*"
alembic = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Login = "*"
Flask-Principal = "*"
Flask-WTF = "*"
Flask-RESTful = "*"
Flask-Restless = "*"
Flask-paginate = "*"
Flask-Babel = "*"
Flask-SSLify = "*"
Flask-Migrate = "*"
Flask-Script = "*"
WTForms = "*"
sendgrid = "*"
python-dateutil = "*"


[dev-packages]

