{% extends "layout.html" %}
{% block head%}
{{super()}}
{% endblock %}
{% block content %}
<div class="container">
<h1>{{ _('Registered users') }}</h1>
<table id="table-users" class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>{{ _('Nickname') }}</th>
            <th>{{ _('Member since') }}</th>
            <th>{{ _('Last seen') }}</th>
            <th>{{ _('Actions') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr {% if not user.is_active  %}class="warning"{% endif %}>
            <td>{{ loop.index }}</td>
            <td>
              {% if user.is_public_profile %}
                  <a href="{{ url_for("user.profile_public", nickname=user.nickname) }}">{{ user.nickname }}</a>
              {% else %}
                  {{ user.nickname }}
              {% endif %}
              {% if user.id == current_user.id %}&nbsp;(It's you!){% endif %}
            </td>
            <td class="date">{{ user.date_created | datetime }}</td>
            <td class="date">{{ user.last_seen | datetime }}</td>
            <td>
                <a href="{{ url_for("admin.user_form", user_id=user.id) }}"><i class="glyphicon glyphicon-edit" title="{{ _('Edit this user') }}"></i></a>
                {% if user.id != current_user.id %}
                    <a href="{{ url_for("admin.toggle_user", user_id=user.id) }}">
                    {% if user.is_active %}
                        <i class="glyphicon glyphicon-ban-circle" title="{{ _("Disable this account") }}"></i>
                    {% else %}
                        <i class="glyphicon glyphicon-ok-circle" title="{{ _("Enable this account") }}"></i>
                    {% endif %}
                    </a>
                    <a href="{{ url_for("admin.delete_user", user_id=user.id) }}"><i class="glyphicon glyphicon-remove" title="{{ _('Delete this user') }}" onclick="return confirm('{{ _('You are going to delete this account.') }}');"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{ url_for("admin.user_form") }}" class="btn btn-default">{{ _('Add a new user') }}</a>
<h1>{{ _('Send notification messages') }}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}

    {{ form.subject.label }}
    {{ form.subject(class_="form-control") }} {% for error in form.subject.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

    {{ form.message.label }}
    {{ form.message(class_="form-control", rows=8) }} {% for error in form.message.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

    <br />
    {{ form.submit(class_="btn btn-default") }}
</form>
</div>
<script>
$(document).ready(function() {
    $('#table-users').DataTable( {
        responsive: true,
        columnDefs: [
            {
                bSortable: false,
                targets: [0, 5]
            }
        ]
    });
});
</script>
{% endblock %}
