{% extends "layout.html" %}
{% block content %}
<div class="container" data-article="{{ article.id }}">
    <div class="row">
        <div class="col">
            <h2><a href="{{ article.link  }}" rel="noopener noreferrer" target="_blank">{{ article.title|safe }}</a></h2>
            <h3>{{ _('from') }} <a href="{{ url_for('feed.feed_pub', feed_id=article.source.id) }}">{{ article.source.title }}</a></h3>
            <h6>{{ article.date | datetime }}</h6>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ article.content | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="https://api.pinboard.in/v1/posts/add?url={{ article.link  }}&description={{ article.title }}" rel="noopener noreferrer" target="_blank"><img src="{{ url_for('static', filename='img/pinboard.png') }}" title="{{ _('Share on') }} Pinboard" /></a>
            <a href="https://reddit.com/submit?url={{ article.link }}&title={{ article.title }}" rel="noopener noreferrer" target="_blank"><img src="{{ url_for('static', filename='img/reddit.png') }}" title="{{ _('Share on') }} reddit" /></a>
        <div class="col">
    </div>
</div><!-- /.container -->
{% endblock %}
