{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row" data-article="{{ article.id }}" id="filters" data-filter="{{ filter_ }}">
        <div class="col">
            <h2><a href="{{ article.link  }}" rel="noopener noreferrer" target="_blank">{{ article.title|safe }}</a></h2>
            <h3>{{ _('from') }} <a href="{{ prefix() }}/feed/{{ article.source.id }}">{{ article.source.title }}</a></h3>
            <a href="{{ url_for("article.delete", article_id=article.id) }}"><i class="fa fa-times delete" aria-hidden="true" title="{{ _('Delete this article') }}"></i></a>
            {% if article.like %}
                <a href="#"><i class="fa fa-star like" aria-hidden="true" title="{{ _('One of your favorites') }}"></i></a>
            {% else %}
                <a href="#"><i class="fa fa-star-o like" aria-hidden="true" title="{{ _('Click if you like this article') }}"></i></a>
            {% endif %}
            {% if article.readed %}
                <a href="#"><i class="fa fa-square-o readed-article-page" title="{{ _('Mark this article as unread') }}"></i></a>
            {% else %}
                <a href="#"><i class="fa fa-check-square-o readed-article-page" aria-hidden="true" aria-hidden="true" title="{{ _('Mark this article as read') }}"></i></a>
            {% endif %}
            <h6>{{ article.date | datetime }}</h6>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            {{ article.content | safe }}
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <a href="https://api.pinboard.in/v1/posts/add?url={{ article.link  }}&description={{ article.title }}" rel="noopener noreferrer" target="_blank"><img src="{{ url_for('static', filename='img/pinboard.png') }}" title="{{ _('Share on') }} Pinboard" /></a>
            <a href="https://reddit.com/submit?url={{ article.link }}&title={{ article.title }}" rel="noopener noreferrer" target="_blank"><img src="{{ url_for('static', filename='img/reddit.png') }}" title="{{ _('Share on') }} reddit" /></a>
        <div class="col">
    </div>
</div><!-- /.container -->
{% endblock %}
