{% extends "layout.html" %}
{% block content %}
<div class="container">
        <h3>{{ action }}</h3>
        <form action="" method="POST" name="save">
            {{ form.hidden_tag() }}
            <p>Enter the URL of the website or the URL of the feed (RSS/ATOM).</p>
            <div class="row">
                <div class="col-md-6">
                    <label for="{{ form.site_link.id }}" class="col-sm-3 control-label">{{ form.site_link.label }}</label>
                    {{ form.site_link(class_="form-control", size="100%") }}
                    {% for error in form.site_link.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.link.id }}" class="col-sm-3 control-label">{{ form.link.label }}</label>
                    {{ form.link(class_="form-control", size="100%") }}
                    {% for error in form.link.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                </div>
                <div class="col pt-2">
                    {{ form.submit(class_="btn btn-primary") }}
                </div>
            </div>

            <hr />

            <div class="row">
              <div class="col-md-6">
                  <label for="{{ form.title.id }}" class="col control-label">{{ form.title.label }}</label>
                  {{ form.title(class_="form-control", size="100%", placeholder=_('Will be retrieved automatically but you can specify a custom title.')) }}
                  {% for error in form.title.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
              </div>
              <div class="col-md-6">
                  <label for="{{ form.category_id.id }}" class="col control-label">{{ form.category_id.label }}</label>
                  <div class="input-group">
                  {{ form.category_id(class_="form-control", placeholder=_('Optional')) }}
                  <a type="submit" class="btn btn-primary" href="{{ url_for('category.form') }}" title="Create a new category" alt="Create a new category"><i class="bi bi-plus" aria-hidden="true"></i></a>
                  </div>
                  {% for error in form.category_id.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
              </div>
          </div>

          <div class="row pt-2">
            <div class="col-md-6">
                <label for="{{ form.description.id }}" class="col control-label">{{ form.description.label }}</label>
                {{ form.description(class_="form-control", size="100%", placeholder=_('Description of the feed.')) }}
                {% for error in form.description.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
            </div>
        </div>

            <br />

            <div class="row">
                <div class="col-md-6">
                    <label for="{{ form.enabled.id }}" class="form-check-label">{{ form.enabled.label }}</label>
                    {{ form.enabled(class_="form-check-input",  style="margin-left: 0px;") }}
                    <div class="text-muted text-justify">
                        {{ _("If unchecked, this feed won't be retrieved by the aggregator.") }}
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="{{ form.private.id }}" class="form-check-label">{{ form.private.label }}</label>
                    {{ form.private(class_="form-check-input",  style="margin-left: 0px;") }}
                    <div class="text-muted text-justify">
                        {{ _("If checked, this feed won't be listed on <a href='%(url)s'>your profile page</a>.", url=url_for('user.profile_public', nickname=current_user.nickname) ) }}
                        {{ _("Check this box if there is a private token in the link of the feed.") }}
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
              <div class="col">
                <h4>{{ _("Filters") }}</h4>
                <div class="text-justify">
                  {{ _("Here you can define actions to perform on newly retrieved items.") }}
                </div>
                <button type="button" class="btn btn-primary" id="add-feed-filter-row" >+</button>
              </div>
            </div>

            <br />

            <div id="filters-container">
                {% if feed %}
                    {% for filter_ in feed.filters or [] %}
                      <div class="row row-cols-md-auto g-5 align-items-center">
                        <div class="col">
                            <input value="-" type="button" class="form-control del-feed-filter-row" />
                        </div>
                        <div class="col">
                            <select name="type" class="form-select" >
                                <option value="simple match" {% if filter_.get("type") == "simple match" %}selected{% endif %}>{{ _("simple match") }}</option>
                                <option value="regex" {% if filter_.get("type") == "regex" %}selected{% endif %}>{{ _("regex") }}</option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" value="{{ filter_.get("pattern") }}" name="pattern" />
                        </div>
                        <div class="col">
                            <select name="action_on" class="form-select">
                                <option value="match" {% if filter_.get("action on") == "match" %}selected{% endif %}>{{ _("match") }}</option>
                                <option value="no match" {% if filter_.get("action on") == "no match" %}selected{% endif %}>{{ _("no match") }}</option>
                            </select>
                        </div>
                        <div class="col">
                            <select name="action" class="form-select">
                                <option value="mark as read" {% if filter_.get("action") == "mark as read" %}selected{% endif %}>{{ _("mark as read") }}</option>
                                <option value="mark as favorite" {% if filter_.get("action") == "mark as favorite" %}selected{% endif %}>{{ _("mark as favorite") }}</option>
                            </select>
                        </div>
                      </div><br />
                    {% endfor %}
                {% endif %}
            </div>

            <br />

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form.submit(class_="btn btn-primary") }}
                </div>
            </div>
        </form>
</div><!-- /.container -->
{% endblock %}
