{% extends "layout.html" %}
{% block head %}
{{ super() }}
<style>
.optext[data-theme="dark"] {
  background-color: white !important;
}
.multiselect-dropdown[data-theme="dark"] {
  background-color: white !important;
}
.multiselect-dropdown-list[data-theme="dark"] {
  background-color: white !important;
}
</style>
<script src="{{ url_for('static', filename='js/multiselect-dropdown.js') }}" ></script>
</style>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <h3>{{ action }}</h3>
        <form action="" method="post" name="save" class="form-horizontal">
            {{ form.hidden_tag() }}
            <label for="{{ form.name.id }}" class="control-label">{{ form.name.label }}</label>
            {{ form.name(class_="form-control", size="100%") }}
            {% for error in form.name.errors %}<span style="color: red;">{{ error }}<br /></span>{% endfor %}

            <label for="{{ form.name.id }}" class=control-label">{{ form.feeds.label }}</label>
            {{ form.feeds(class_="form-control", size="100%") }}
            {% for error in form.feeds.errors %}<span style="color: red;">{{ error }}<br /></span>{% endfor %}

            {{ form.submit(class_="btn btn-primary form-control mt-2") }}
        </form>
    </div>
  </div>
</div><!-- /.container -->
{% endblock %}
