{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form class="form-control" action="{{ url_for('login') }}" method="post">
                {{ form.hidden_tag() }}
                <div class="input-group mb-3">
                {{ form.nickmane(class_="form-control", placeholder=_('Your nickname')) }}
                </div>
                {% for message in form.nickmane.errors %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endfor %}
                <div class="input-group mb-3">
                {{ form.password(class_="form-control", placeholder=_('Your Password')) }}
                </div>
                {% for message in form.password.errors %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endfor %}
                {{ form.submit(class_="btn btn-primary form-control") }}
            </form>
            {% if self_registration %}<p><a href="{{ prefix() }}/signup">{{ _('Sign up') }}</a></p>{% endif %}
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}
