{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ _('Popular feeds') }}</h1>
            <a href="{{ url_for('popular', nb_days='all')  }}">all</a>&nbsp;&#8231;&nbsp;<a href="{{ url_for('popular', nb_days=365)  }}">last year</a>&nbsp;&#8231;&nbsp;<a href="{{ url_for('popular', nb_days=31)  }}">last month</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group">
            {% for feed in popular | select("defined") %}
                <li class="list-group-item d-flex justify-content-between">
                    <a href="{{ feed[0] }}">{{ feed[0] }}</a>
                    <div>
                        <a href="{{ url_for('feed.bookmarklet', url=feed[0]) }}">
                            <span class="fa fa-plus text-muted" aria-hidden="true" title="follow this feed"></span>
                            <span class="text-muted">{{ _('add this feed') }}</span>
                        </a>
                        &nbsp;
                        <span class="badge badge-light rounded-pill">{{ feed[1] }}</span>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}
