{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>{{ user.nickname }} / <a href="{{ url_for('user.user_stream', nickname=user.nickname) }}">stream</a></h1>
    <div class="row">
        <div class="col-md-12">
            <p>
                <span class="bi bi-clock-o" aria-hidden="true"></span>&nbsp;
                {{ _('Member since') }}: {{ user.date_created | datetime }}
            </p>
            <p>
                <span class="bi bi-clock-o" aria-hidden="true"></span>&nbsp;
                {{ _('Last seen') }}: {{ user.last_seen | datetime }}
            </p>
            {% if user.webpage %}
            <p>
                <span class="bi bi-home" aria-hidden="true"></span>&nbsp;
                {{ _('Webpage') }}: <a href="{{ user.webpage | safe }}" rel="noopener noreferrer" target="_blank">{{ user.webpage | safe }}</a>
            </p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            {% if user.bio %}
                <p>{{ user.bio }}</p>
            {% endif %}
        </div>
        <div class="col-md-6 float-end"></div>
    </div>

    <h2>{{ _('Feeds') }}</h2>
    <div class="row">
        <div class="col-md-12">
            {% include "feed_list_per_categories.html" %}
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}
