{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="" method="post" name="save">
                {{ form.hidden_tag() }}
                <div class="input-group mb-3">
                    {{ form.nickname(class_="form-control", placeholder=_('Your nickname')) }}
                    {% for error in form.nickname.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                    &nbsp;<span class="text-muted">{{ _('Letters, numbers, dots and underscores only.') }}</span>
                </div>
                <p class="help-block"></p>
                <div class="input-group mb-3">
                    {{ form.email(class_="form-control", placeholder=_('Your email')) }}
                    {% for error in form.email.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                    &nbsp;<span class="text-muted">{{ _("Only for account activation. Your email won't be stored.") }}</span>
                </div>
                <div class="input-group mb-3">
                    {{ form.password(class_="form-control", placeholder=_('Your password')) }}
                    {% for error in form.password.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                    &nbsp;<span class="text-muted">{{ _('Minimum 6 characters.') }}</span>
                </div>
                <br />
                {{ form.submit(class_="btn btn-primary") }}
            </form>
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}
