{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>{{ _('History') }}</h1>
    {% if month != None %}
        <h2><a href="{{ url_for("articles.history", year=year) }}"><span class="fa fa-chevron-left" aria-hidden="true"></span> {{ year }}</a></h2>
        <h3>{{ month | month_name }}</h3>
    {% elif year != None %}
        <h2><a href="{{ url_for("articles.history") }}"><span class="fa fa-chevron-left" aria-hidden="true"></span>&nbsp{{ _('all years') }}</a></h2>
        <h3>{{ year }}</h3>
    {% endif %}
    <ul class="list-group">
    {% for article in articles_counter | sort(reverse = True) %}
        {% if year == None %}
            <li class="list-group-item"><a href="{{ url_for("articles.history", year=article) }}">{{ article }}</a> : {{ articles_counter[article] }} articles</li>
        {% elif month == None %}
            <li class="list-group-item"><a href="{{ url_for("articles.history", year=year, month=article) }}">{{ article | month_name  }}</a> : {{ articles_counter[article] }} articles</li>
        {% else %}
            {% for article in articles %}
                <li class="list-group-item">{{ article.date | datetime }} - <a href="/article/{{ article.id }}">{{ article.title | safe }}</a></li>
            {% endfor %}
        {% endif %}
     {% endfor %}
     </ul>
</div><!-- /.container -->
{% endblock %}
