{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h2>{{ _('Your subscriptions') }}</h2>
                    <p>{{ _('You are subscribed to') }} {{ nb_feeds }} <a href="/feeds">{{ _('feeds') }}</a>. <a href="{{ url_for("feed.form") }}">{{ _('Add') }}</a> {{ _('a feed') }}.</p>
                    <p>{{ nb_articles }} {{ _('articles are stored in the database with') }} {{ nb_unread_articles }} {{ _('unread articles') }}.</p>
                    <p>{{ _('You have') }} {{ nb_categories }} <a href="{{ url_for("categories.list_")}}">{{ _('categories') }}</a>.</p>
                    <a href="{{ url_for("articles.expire", weeks=10) }}" class="btn btn-primary" onclick="return confirm('{{ _('You are going to delete old articles.') }}');">{{ _('Delete articles older than 10 weeks') }}</a>
                </div>
                <div class="col">
                    <h2>{{ _('Your bookmarks') }}</h2>
                    <p>{{ _('You have') }} {{ nb_bookmarks }} <a href="{{ url_for("bookmarks.list_")}}">{{ _('bookmarks') }}</a>.</p>
                    <a href="{{ url_for("bookmarks.delete_all") }}" class="btn btn-primary" onclick="return confirm('{{ _('You are going to delete all bookmarks.') }}');">{{ _('Delete all bookmarks') }}</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h2>{{ _('Your data') }}</h2>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>{{ _('Articles') }}</h3>
                    <h5>{{ _('Import') }}</h5>
                    <form action="" method="post" id="formImportJSON" enctype="multipart/form-data">
                        <span class="btn btn-file">{{ _('Import a Newspipe account') }} (<span class="text-info">*.json</span>)<input type="file" name="jsonfile" /></span>
                        <button class="btn btn-primary" type="submit">OK</button>
                    </form>
                    <br />
                    <h5>{{ _('Export') }}</h5>
                    <a href="{{ url_for('articles.export') }}" class="btn btn-primary">{{ _('Export your Newspipe account to JSON') }}</a>
                </div>
                <div class="col">
                    <h3 id="import">{{ _('OPML') }}</h3>
                    <h5>{{ _('Import') }}</h5>
                    <form action="" method="post" id="formImportOPML" enctype="multipart/form-data">
                        <span class="btn btn-file">{{ _('Batch import feeds from OPML') }} (<span class="text-info">*.xml {{ _('or') }} *.opml</span>)<input type="file" name="opmlfile" /></span>
                        <button class="btn btn-primary" type="submit">OK</button>
                    </form>
                    <br />
                    <h5>{{ _('Export') }}</h5>
                    <form class="form-inline" action="{{ url_for('feeds.export') }}" method="GET" id="formExportOPML">
                        <div class="form-group">
                            <div class="input-group">
                                <label>Include disabled feeds</label>
                                <input type="checkbox" class="form-control" name="includedisabled" checked />
                            </div>
                            <div class="input-group">
                                <label title="Newspipe encountered too much problems when retrieving these feeds.">Include dead feeds</label>
                                <input type="checkbox" class="form-control" name="includeexceedederrorcount" checked />
                            </div>
                            <div class="input-group">
                                <label>Include private feeds</label>
                                <input type="checkbox" class="form-control" name="includeprivate" checked />
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">{{ _('Export your feeds to OPML') }}</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br />
                    <h2>{{ _('Bookmarks') }}</h2>
                    <a href="{{ url_for('bookmarks.export') }}" class="btn btn-primary">{{ _('Export your bookmarks to JSON') }}</a>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}
