{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="form well">
        <form action="" method="post" name="save">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.nickname(class_="form-control", placeholder=_('Your nickname')) }} {% for error in form.nickname.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                <p class="help-block">{{ _('Letters, numbers, dots and underscores only.') }}</p>
            </div>
            <div class="form-group">
                {{ form.email(class_="form-control", placeholder=_('Your email')) }} {% for error in form.email.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                <p class="help-block">{{ _("Only for account activation. Your email won't be stored.") }}</p>
            </div>
            <div class="form-group">
                {{ form.password(class_="form-control", placeholder=_('Your password')) }} {% for error in form.password.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}
                <p class="help-block">{{ _('Minimum 6 characters.') }}</p>
            </div>
            <br />
            {{ form.submit(class_="btn btn-default") }}
        </form>
    </div>
</div><!-- /.container -->
{% endblock %}
