body {
    font:normal medium 'Gill Sans','Gill Sans MT',Verdana,sans-serif;
    margin:1.75em auto;
    width:40.8em;
    line-height:1.75;
}

a:link {
    color:#1c73b7;
    text-decoration:none;
    outline:0;
}

a:visited {
    color:#1c73b7;
    text-decoration:none;
    outline:0;
}

a:active {
    color:#1c73b7;
    text-decoration:none;
    outline:0;
}

h1 {
    font-size:x-large;
    color:#0c85e5;
}

h2 {
   font-size:medium;
}

h3 {
    font-size:small;
}

hr {
    border-style:dotted;
    height:1px;
    border-width: 1px 0 0 0;
    margin:1.45em 0 1.4em;
    padding:0;
}

.right blockquote {
    float: right;
    position: relative;
    clear: both;
    padding-top: 1em;
    padding-bottom: 0em;
    margin-bottom: 0em;
    font-style: italic;
    width: 100%;
    margin-right: 0em;
}

blockquote.right {
    width: 50%;
    margin-left: 50%;
    margin-right: 0em;
}

#footer {
   clear:both;
   text-align:center;
   font-size:small
}

img {
    border:0;
}
