#menu {
  position: fixed;
  top: 51px;
  bottom: 0px;
  left: 0px;
  z-index: 1000;
  display: block;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #F5F5F5;
  border-right: 1px solid #EEE;
  color: #555;
}
#menu div.nav.btn-group {
  margin-bottom: 10px;
}
#menu li {
  padding: 2px;
  cursor: pointer;
  border-radius: 6px;
}
#menu li.nav-feed {
  margin-left: 15px;
  margin-bottom: 3px;
  max-height: 22px;
  overflow: hidden;
}
#menu li.nav-feed > span.badge {
  top: 2px;
  position: absolute;
  right: 2px;
}
#menu li.nav-feed > span.title {
  margin-left: 3px;
}
#menu li.bg-primary.bg-danger {
  color: #fff;
  background-color: orangered;
}
#menu li.bg-primary.bg-warning {
  color: #fff;
  background-color: gold;
}
#menu li:hover {
  color: #000;
  background-color: #e8e8e8;
}
#menu li.bg-primary:hover {
  color: #fff;
  background-color: #62a9e6;
}
#menu li.bg-warning:hover {
  background-color: #f3f0da;
}
#menu li.bg-danger:hover {
  background-color: #f6cab6;
}
#menu li > h4 {
  padding-left: 5px;
  margin: 2px;
  display: inline;
}
#middle-panel {
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  position: fixed;
  top: 51px;
  bottom: 0px;
  left: 0px;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #F5F5F5;
  border-right: 1px solid #EEE;
}
#middle-panel .btn-group {
  margin-right: 10px;
  margin-bottom: 10px;
}
#middle-panel .btn-group:last-child {
  margin-right: 0px;
  float: right;
}
#middle-panel .input-group {
  margin-bottom: 10px;
}
#middle-panel div.list-group-item{
  padding: 5px 8px;
  cursor: pointer;
}
#middle-panel div.list-group-item:hover {
  background-color: #f0f0f0;
}
#middle-panel div.list-group-item>h5 {
  margin: 0px;
}
#middle-panel div.list-group-item>div:last-child{
  width: 100%;
  max-height: 22px;
  overflow: hidden;
}
