## base.html
<!DOCTYPE html>
<html>
<head>
    %if nb_unread_articles is UNDEFINED:
        <title>pyAggr3g470r</title>
    %elif nb_unread_articles == 0:
        <title>pyAggr3g470r</title>
    %else:
        <title>${nb_unread_articles} - pyAggr3g470r</title>
    %endif
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
</head>
<body>
    <div class="right innerlogo">
        <a href="/"><img src="/img/tuxrss.png" title="What's new today?"/></a>
    </div>
    <a name="top"><a href="/"><h1>pyAggr3g470r</h1></a></a>

    ${self.body()}

    <hr />
    <p>This software is under GPLv3 license. You are welcome to copy, modify or
    redistribute the source code according to the <a href="http://www.gnu.org/licenses/gpl-3.0.txt">GPLv3</a> license.<br />
    <a href="https://bitbucket.org/cedricbonhomme/pyaggr3g470r/" rel="noreferrer" target="_blank">Source code</a> of pyAggr3g470r.</p>
    </div>
</body>
</html>
