## base.html
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
    %if header_text is UNDEFINED:
        <title>pyAggr3g470r</title>
    %elif header_text == 0:
        <title>pyAggr3g470r</title>
    %else:
        <title>${header_text} - pyAggr3g470r</title>
    %endif
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://apis.google.com/js/plusone.js"></script>
</head>
<body>
    <div class="right innerlogo">
        <a href="/"><img src="/img/tuxrss.png" title="What's new today?"/></a>
    </div>
    <a href="/"><h1 id="top">pyAggr3g470r</h1></a>
    ${self.body()}
    <hr />
    <p>This software is under GPLv3 license. You are welcome to copy, modify or
    redistribute the source code according to the <a href="http://www.gnu.org/licenses/gpl-3.0.txt">GPLv3</a> license.<br />
    <a href="https://bitbucket.org/cedricbonhomme/pyaggr3g470r/" rel="noreferrer" target="_blank">Source code</a> of pyAggr3g470r.</p>
    </div>
</body>
</html>