## inactives.html
<%inherit file="base.html"/>
<div class="left inner">
    %if inactives != []:
        <form method=get action="/inactives/">
            <h1>Feeds with no recent articles since <input type="number" name="nb_days" value="${nb_days}" min="0" max="1000000" step="1" size="4" style="text-align: center" /> days:</h1>
        </form>
        <ul>
        %for item in inactives:
            <li><a href="/feed/${item[0]["feed_id"]}">${item[0]["feed_title"]}</a> (${item[1].days} days)</li>
        %endfor
        </ul>
    %else:
        <p>No inactive feeds.<p>
    %endif
