## languages.html
<%inherit file="base.html"/>
<div class="left inner">
    <h1>Summary</h1>
    <ul>
    %for language in articles_sorted_by_languages.keys():
        <li><a href="#${language}">${language}</a>: ${sum(map(len, articles_sorted_by_languages[language].values()))} articles</li>
    %endfor
    </ul>
    %for language in articles_sorted_by_languages.keys():
        <br />
        <h1 id="${language}">${language}</h1>
        %for feed_id in articles_sorted_by_languages[language]:
            <%
                feed = mongo.get_feed(feed_id)
            %>
            <h2>${feed["feed_title"]}</h2>
            %for article in articles_sorted_by_languages[language][feed_id][:10]:
                ${article["article_date"].strftime('%Y-%m-%d %H:%M')} - <a href="/article/${feed['feed_id']}:${article['article_id']}" rel="noreferrer" target="_blank">${article["article_title"]}</a>
                <br />
            %endfor
            <br />
        %endfor
        <br />
    %endfor