## management.html
<%inherit file="base.html"/>
<div class="left inner">
    <h1>Subscriptions</h1>
    <p>Add a new subscription (current <a href="/subscriptions/">subscriptions</a>):</p>
    <form method=get action="/add_feed/">
        <input type="url" name="url" placeholder="URL of a site or feed." maxlength=2048 autocomplete="off" />
        <input type="submit" value="OK" />
    </form>

    %if feeds:
        <p>Unsubscribe from a source (deletes corresponding articles):</p>
        <form method=get action="/remove_feed/">
            <select name="feed_id">
                %for feed in feeds:
                    <option value="${feed['feed_id']}">${feed['feed_title']}</option>
                %endfor
            </select>
            <input type="submit" value="OK" />
        </form>
    %endif

    %if not mail_notification_enabled:
        <p>E-mail notification is disabled in the configuration file.</p>
    %endif

    %if feeds:
        <hr />
        <h1>Facts</h1>
        <ul>
        <li>active e-mail notifications: <a href="/notifications/">${nb_mail_notifications}</a>;</li>
            <li>you like <a href="/favorites/">${nb_favorites}</a> article(s);</li>
            <li><a href="/statistics/">tag clouds</a>;</li>
            <li><a href="/inactives/">inactive feeds</a>;</li>
            <li><a href="/languages/">languages</a>.</li>
        </ul>
    %endif

    <hr />

    <h1>Account</h1>
    <p>
    <form method=get action="/change_username/">
            <input type="text" name="new_username" value="" placeholder="Enter a new username." />
    </form>
    <br />
    <form method=get action="/change_password/">
            <input type="password" name="new_password" value="" placeholder="Enter a new password." />
    </form>
    </p>

    <hr />


    <h1>Database</h1>
    <p>${nb_articles} article(s) are stored in the database with <a href="/unread/">${nb_unread_articles} unread article(s)</a>.

    <form method=get action="/fetch/">
        <input type="submit" value="Fetch all feeds" />
    </form>
    <form method=get action="/drop_base">
        <input type="submit" value="Delete all articles" />
    </form>
    
    <br />
    <form method=get action="/index_base">
        <input type="submit" value="Index database" /> (${nb_indexed_documents} indexed documents)
    </form>
    

    <hr />

    <h1>Export articles</h1>
    <p>
    <form method=get action="/export/">
        <select name="export_method">
            <option value="export_html" selected='selected'>HTML (simple Webzine)</option>
            <option value="export_epub">ePub</option>
            <option value="export_pdf">PDF</option>
            <option value="export_txt">Text</option>
        </select>
        <input type="submit" value="Export" />
    </form>
    </p>
