## article.html
<%inherit file="base.html"/>
<div class="left inner">
    %if feeds != []:
        <h1>You are receiving e-mails for the following feeds:</h1>
        <ul>
        %for feed in feeds:
            <li><a href="/feed/${feed['feed_id']}">${feed['feed_title']}</a> - <a href="/mail_notification/0:${feed['feed_id']}">Stop</a></li>
        %endfor
        </ul>
    %else:
        <p>No active notifications.<p>
    %endif
    <p>Notifications are sent to: <a href="mail:${mail_to}">${mail_to}</a></p>
