<!DOCTYPE html>
<html>
<head>
    <title>pyAggr3g470r - News aggregator</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
</head>
<body>
<div class="left inner">
    <h1><i>${article_title}</i> from <a href="/articles/%s">${feed_title}</a></h1><br />
    ${description}
    <hr />
    <p>This software is under GPLv3 license. You are welcome to copy, modify or
    redistribute the source code according to the
    <a href="http://www.gnu.org/licenses/gpl-3.0.txt">GPLv3</a> license.</p>
</div>
</body>
</html>
