{% extends "layout.html" %}
{% block content %}
<div class="container">
    <ul class="list-group">
    {% for bookmark in bookmarks %}
        <li class="list-group-item">
            <a href="#">
                <h4 class="list-group-item-heading">
                    <a href="{{ bookmark.href }}">{{ bookmark.title }}</a>
                </h4>
                <p class="list-group-item-text">
                    <div class="text-muted">{{ bookmark.description }}</div>
                    <div>{{ " ".join(bookmark.tags_proxy) }}</div>
                    {{ bookmark.time }}
                    <a class="text-muted" href="{{ url_for('bookmark.form', bookmark_id=bookmark.id) }}">edit</a>
                    <a class="text-muted" href="{{ url_for('bookmark.delete', bookmark_id=bookmark.id) }}">delete</a>
                </p>
            </a>
        </li>
    {% endfor %}
    </ul>
</div><!-- /.container -->
{% endblock %}
