{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {{ pagination.info }}
        </div>
        <div class="col-md-6 text-right">
            {% if current_user.is_authenticated %}
                <a class="text-muted" href="{{ url_for('bookmarks.list_') }}">all</a>&nbsp;⸱&nbsp;
                <a class="text-muted" href="{{ url_for('bookmarks.list_') + 'private' }}">private</a>&nbsp;⸱&nbsp;
                <a class="text-muted" href="{{ url_for('bookmarks.list_') + 'public' }}">public</a>&nbsp;⸱&nbsp;
                <a class="text-muted" href="{{ url_for('bookmarks.list_') + 'unread' }}">unread</a>
            {% endif %}
        </div>
    </div>
    {{ pagination.links }}
    <ul class="list-group">
    {% for bookmark in bookmarks %}
        <li class="list-group-item">
            <a href="#">
                <h4 class="list-group-item-heading">
                    <a href="{{ bookmark.href }}">{{ bookmark.title }}</a>
                </h4>
                <p class="list-group-item-text">
                    <div class="text-muted">{{ bookmark.description }}</div>
                    <div>{{ " ".join(bookmark.tags_proxy) }}</div>
                    {{ bookmark.time }}
                    {% if current_user.is_authenticated %}
                        <a class="text-muted" href="{{ url_for('bookmark.form', bookmark_id=bookmark.id) }}">edit</a>
                        <a class="text-muted" href="{{ url_for('bookmark.delete', bookmark_id=bookmark.id) }}">delete</a>
                    {% endif %}
                </p>
            </a>
        </li>
    {% endfor %}
    </ul>
    {{ pagination.links }}
</div><!-- /.container -->
{% endblock %}
