<div class="row">
    <div class="col-md-8">
        <form class="form-inline">
            <div class="form-group">
                <label>Filter per category</label>
                <select class="form-control" id="category-select" name="category_id">
                <option  value="0">All</option>
                {% for category in user.categories %}
                    <option value="{{category.id}}" {% if category.id==selected_category_id %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary mb-2">OK</button>
            </div>
        </form>
    </div>
</div>

<br />

<div class="table-responsive">
    <table id="table-feeds" class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ _('Title') }}</th>
                <th>{{ _('Site') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for feed in feeds %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{% if feed.icon_url %}<img src="{{ url_for('icon.icon', url=feed.icon_url) }}" width="16px" />&nbsp;{% endif %} <a href="{{ url_for('feed.feed_pub', feed_id=feed.id) }}">{{ feed.title }}</a></td>
                <td><a href="{{ feed.site_link }}">{{ feed.site_link }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
$(document).ready(function() {
    $('#table-feeds').DataTable( {
        responsive: true,
        columnDefs: [
            {
                bSortable: false,
                targets: [0]
            }
        ]
    });
});
</script>
