<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="JARR is a web-based news aggregator." />
    <meta name="author" content="" />
    <title>JARR{% if head_titles %} - {{ ' - '.join(head_titles) }}{% endif %}</title>
    <link rel="shortcut icon" href="{{ url_for("static", filename="img/favicon.png") }}" />
    <!-- Add custom CSS here -->
    <link href="{{ url_for("static", filename="css/customized-bootstrap.css") }}" rel="stylesheet" media="screen" />
    <link href="{{ url_for("static", filename="css/one-page-app.css") }}" rel="stylesheet" media="screen" />
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for("static", filename="css/bootstrap.min.css") }}" rel="stylesheet" media="screen" />
  {% endblock %}
  </head>
  <body>
    <section id="jarrapp" />
  </body>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/bundle.min.js') }}"></script>
</html>
