<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Newspipe is a web news aggregator and reader." />
    <meta name="author" content="" />
    <title>Newspipe{% if head_titles %} - {{ ' - '.join(head_titles) }}{% endif %}</title>
    <link rel="shortcut icon" href="{{ url_for("static", filename="img/favicon.ico") }}" />
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for("static", filename="css/bootstrap.min.css") }}" rel="stylesheet" media="screen" />
    <!-- Add custom CSS here -->
    <link href="{{ url_for("static", filename="css/customized-bootstrap.css") }}" rel="stylesheet" media="screen" />
    <!-- jquery, bootstrap, datatables -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css") }}">
    <script type="text/javascript" src="{{ url_for("static", filename="bower_components/datatables.net/js/jquery.dataTables.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js") }}"></script>
    {% endblock %}
  </head>
  <body>
    {% block menu %}
    <nav id="newspipenav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for("home") }}">Newspipe</a>
          {% if head_titles %}
            <p class="navbar-text" style="max-height: 20px; overflow: hidden">
            {{ " - ".join(head_titles) }}
            </p>
          {% endif %}
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                {% if conf.CRAWLING_METHOD == "default" and (not conf.ON_HEROKU or current_user.is_admin) %}
                    <li><a href="/fetch"><span class="glyphicon glyphicon-import"></span> {{ _('Fetch') }}</a></li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <div><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;{{ _('Add a new feed') }}</div>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <form action="{{ url_for('feed.bookmarklet') }}" class="navbar-form  navbar-left" method="GET" name="save">
                              <div class="input-group input-group-inline">
                                  <input class="form-control" name="url" type="url" placeholder="{{_("Site or feed url")}}" required="required"/>
                                  <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
                                  </span>
                              </div><!-- /input-group -->
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <div><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;{{ _('Add a new category') }}</div>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <form action="{{ url_for('category.form') }}" class="navbar-form  navbar-left" method="POST" name="category">
                              <div class="input-group input-group-inline">
                                  <input class="form-control" name="name" type="text" placeholder="{{_("Category name")}}" required="required"/>
                                  <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
                                  </span>
                              </div><!-- /input-group -->
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ _('Feed') }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for("popular") }}">{{ _('Popular') }}</a></li>
                        <li><a href="{{ url_for("feeds.inactives") }}">{{ _('Inactive') }}</a></li>
                        <li><a href="{{ url_for("articles.history") }}">{{ _('History') }}</a></li>
                        <li><a href="{{ url_for("feeds.feeds") }}">{{ _('All') }}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <div><span class="glyphicon glyphicon-user"></span>&nbsp;<b class="caret"></b></div>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for("user.profile") }}"><span class="glyphicon glyphicon-user"></span> {{ _('Profile') }}</a></li>
                        <li><a href="{{ url_for("user.management") }}"><span class="glyphicon glyphicon-hdd"></span> {{ _('Your data') }}</a></li>
                        <li><a href="{{ url_for("about") }}"><span class="glyphicon glyphicon-question-sign"></span> {{ _('About') }}</a></li>
                        {% if current_user.is_admin %}
                        <li role="presentation" class="divider"></li>
                        <li><a href="{{ url_for("admin.dashboard") }}"><span class="glyphicon glyphicon-dashboard"></span> {{ _('Dashboard') }}</a></li>
                        <li role="presentation" class="divider"></li>
                        {% endif %}
                        <li><a href="{{ url_for("logout") }}"><span class="glyphicon glyphicon-log-out"></span> {{ _('Logout') }}</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{{ url_for("popular") }}"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;{{ _('Popular') }}</a></li>
                <li><a href="{{ url_for("about") }}"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;{{ _('About') }}</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    {% endblock %}
    <br />

    <div class="container alert-message not-at-home">
    {% block messages %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endblock %}
    </div>

    {% block content %}{% endblock %}

    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/articles.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/feed.js') }}"></script>
  </body>
</html>
