{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>Popular feeds</h1>
    <ul class="list-group">
    {% for feed in popular %}
        <li class="list-group-item">
            <a href="{{ feed[0] }}">{{ feed[0] }}</a>&nbsp
            <a href="{{ url_for('feed.bookmarklet', url=feed[0]) }}" >
                <span class="glyphicon glyphicon-plus text-muted" title="follow this feed"></span>
                <span class="text-muted">add this feed</a>
            </a>
            <span class="badge">{{ feed[1] }}</span>
        </li>
    {% endfor %}
</ul>
</div><!-- /.container -->
{% endblock %}
