{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>{{ user.nickname }}</h1>
    <div class="row">
        <div class="col-md-12">
            <p>
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;
                {{ _('Member since') }}: {{ user.date_created | datetime }}
            </p>
            <p>
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;
                {{ _('Last seen') }}: {{ user.last_seen | datetime }}
            </p>
            {% if user.webpage %}
            <p>
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;
                {{ _('Webpage') }}: <a href="{{ user.webpage | safe }}">{{ user.webpage | safe }}</a>
            </p>
            {% endif %}
            {% if user.twitter %}
                <p>
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;
                    {{ _('Twitter') }}: <a href="{{ user.twitter | safe }}">{{ user.twitter | safe }}</a>
                </p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            {% if user.bio %}
                <p align="justify">{{ user.bio }}</p>
            {% endif %}
        </div>
        <div class="col-md-6 pull-right"></div>
    </div>

    <h2>{{ _('Feeds') }}</h2>
    <div class="row">
        <div class="col-md-12">
            {% include "feed_list_simple.html" %}
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}
