{% extends "layout.html" %}
{% block head%}
{{super()}}
{% endblock %}
{% block content %}
<div class="container">
    <div class="well">
        <a href="/admin/edit_user/{{ user.id }}" class="btn btn-default">{{ _('Edit this user') }}</a>
        <h2>{{ _('Membership') }}</h2>
        <div class="row">
            <div class="col-md-6">
                <p>{{ _('Member since') }} {{ user.date_created | datetime }}.</p>
                <p>{{ _('Last seen:') }} {{ user.last_seen | datetime }}.</p>
            </div>
        </div>
    </div>
    {% include "feed_list.html" %}
</div>
{% endblock %}
