{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>{{ _('History') }}</h1>
    <ul class="list-group">
    {% for article in articles_counter %}
        {% if year == None %}
            <li class="list-group-item"><a href="/history/{{ article }}">{{ article }}</a> : {{ articles_counter[article] }} articles</li>
        {% elif month == None %}
            <li class="list-group-item"><a href="/history/{{ year }}/{{ article }}">{{ article }}</a> : {{ articles_counter[article] }} articles</li>
        {% else %}
            {% for article in articles %}
                <li class="list-group-item">{{ article.date }} - <a href="/article/{{ article.id }}">{{ article.title | safe }}</a></li>
            {% endfor %}
        {% endif %}
     {% endfor %}
     </ul>
</div><!-- /.container -->
{% endblock %}
