 {% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <div classe="row">
        <div id="affix-nav" class="col-md-4 sidebar hidden-xs hidden-sm">
            <ul class="nav sidenav affix affix-top" data-spy="affix" data-offset-top="0" data-offset-bottom="0">
            {% for feed in result|sort(attribute="title")|sort(attribute="nb_unread", reverse=True) %}
                <li>
                    <a href="#{{ feed.id }}">
                        {% if feed.nb_unread != 0 %}<span class="badge pull-right">{{ feed.nb_unread }}</span>{% endif %}
                        {{ feed.title|safe }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-md-8">
            {% if result|count == 0 %}
                <h1>{{ _("You don't have any feeds.") }}</h1>
                <h1><a href="/create_feed/">{{ _('Add some') }}</a>, {{ _('or') }} <a href="/management/#import">{{ _('upload an OPML file.') }}</a></h1>
            {% else %}
                {% for feed in result|sort(attribute="title") %}
                    <div class="top"><a id="{{ feed.id }}"></a></div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h1>{{ feed.title|safe }}
                            {% if feed.nb_unread != 0 %}
                                <a href="/unread/{{ feed.id }}" title="Unread articles"><span class="badge">{{ feed.nb_unread }}</span></a>
                            {% endif %}</h1>
                            <a href="/articles/{{ feed.id }}/100"><i class="glyphicon glyphicon-th-list" title="{{ _('More articles') }}"></i></a>
                            <a href="/feed/{{ feed.id }}"><i class="glyphicon glyphicon-info-sign" title="{{ _('Details') }}"></i></a>
                            <a href="/edit_feed/{{ feed.id }}"><i class="glyphicon glyphicon-edit" title="{{ _('Edit this feed') }}"></i></a>
                            {% if feed.enabled %}
                                <a href="/fetch/{{ feed.id }}"><i class="glyphicon glyphicon-cloud-download" title="{{ _('Fetch this feed') }}"></i></a>
                            {% endif %}
                            {% if feed.nb_unread != 0 %}
                                <a href="/mark_as/read/feed/{{ feed.id }}"><i class="glyphicon glyphicon-check" title="{{ _('Mark all feed as read') }}"></i></a>
                            {% endif %}
                            <a href="/mark_as/unread/feed/{{ feed.id }}"><i class="glyphicon glyphicon-unchecked" title="{{ _('Mark all feed as unread') }}"></i></a>
                        </div>
                    </div>
                    {% for number in range(0, feed.articles.all()|count-(feed.articles.all()|count % 3), 3) %}
                        <div class="row">
                            {% for n in range(number, number+3) %}
                            <div class="col-xs-6 col-sm-4 col-md-4">
                                {% if feed.articles[n].readed %}<h3>{% else %}<h1>{% endif %}
                                    <a href="/article/{{ feed.articles[n].id }}">{{ feed.articles[n].title|safe }}</a>
                                {% if feed.articles[n].readed %}</h3>{% else %}</h1>{% endif %}
                                <h6>{{ feed.articles[n].date | datetime }}</h6>
                            </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {% if feed.articles.all()|count % 3 != 0 %}
                        <div class="row">
                            {% for n in range(feed.articles.all()|count-(feed.articles.all()|count % 3), feed.articles.all()|count) %}
                                <div class="col-xs-6 col-sm-4 col-md-4">
                                    {% if feed.articles[n].readed %}<h3>{% else %}<h1>{% endif %}
                                        <a href="/article/{{ feed.articles[n].id }}">{{ feed.articles[n].title|safe }}</a>
                                    {% if feed.articles[n].readed %}</h3>{% else %}</h1>{% endif %}
                                    <h6>{{ feed.articles[n].date | datetime }}</h6>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}
