<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="pyAggr3g470r is a web-based news aggregator." />
    <meta name="author" content="" />
    <title>{% if head_title %}{{ head_title }} - {% endif %}pyAggr3g470r</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" />
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.css') }}" rel="stylesheet" media="screen" />
    <!-- Add custom CSS here -->
    <link href="{{ url_for('static', filename = 'css/customized-bootstrap.css') }}" rel="stylesheet" media="screen" />
    <link href="{{ url_for('static', filename = 'css/side-nav.css') }}" rel="stylesheet" media="screen" />
  {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">pyAggr3g470r</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if g.user.is_authenticated() %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ _('Articles') }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a accesskey="r" href="/fetch">{{ _('Fetch') }}</a></li>
                        <li><a href="/mark_as/read">{{ _('Mark all as read') }}</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="/create_feed">{{ _('Add a feed') }}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span> {{ _('Filter') }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a accesskey="u" href="/unread">{{ _('Unread') }}</a></li>
                        <li><a accesskey="f" href="/favorites">{{ _('Favorites') }}</a></li>
                        <li><a accesskey="i" href="/inactives">{{ _('Inactive feeds') }}</a></li>
                        <li><a href="/feeds">{{ _('All feeds') }}</a></li>
                        <li><a href="/history">{{ _('History') }}</a></li>
                    </ul>
                </li>
                <li><a accesskey="m" href="/management"><span class="glyphicon glyphicon-cog"></span> {{ _('Management') }}</a></li>
                {% if g.user.is_admin() %}
                    <li><a href="{{ url_for('dashboard') }}"><span class="glyphicon glyphicon-dashboard"></span> {{ _('Dashboard') }}</a></li>
                {% endif %}
                <li><a href="/about">{{ _('About') }}</a></li>
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> {{ _('Logout') }}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <div><span class="glyphicon glyphicon-search"></span>&nbsp;<b class="caret"></b></div>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <form class="navbar-form" method=get action="/search" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="query" placeholder="Search">
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li><a href="/about">{{ _('About') }}</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <br />
    
    <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{category}}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    </div>

    {% block content %}{% endblock %}

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename = 'js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/articles.js') }}"></script>
    <script type="text/javascript" class="source">
        if (window.location.href.indexOf("filter_=all") > -1){
            $("#tab-all").attr('class', "active");
        }
        else if (window.location.href.indexOf("filter_=unread") > -1) {
            $("#tab-unread").attr('class', "active");
        }
        else if (window.location.href.indexOf("filter_=read") > -1) {
            $("#tab-read").attr('class', "active");
        }
        else {
            $("#tab-unread").attr('class', "active");
        }
    </script>
  </body>
</html>
