{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Your subscriptions</h1>
        <p>You are subscribed to {{ nb_feeds }} <a href="/feeds">feeds</a>. Add a <a href="/create_feed/">feed</a>.</p>
        <p>{{ nb_articles }} articles are stored in the database with {{ nb_unread_articles }} <a href="/unread/">unread articles</a>.</p>
        {% if not_on_heroku %}
            <a href="/index_database/" class="btn btn-default">Index database</a>
        {% endif %}
    </div>
    <div class="jumbotron">
        <h1>Your Profile</h1>
        <p>Update your <a href="/profile/">profile</a>.</p>
    </div>
    <div class="jumbotron">
        <h1>Import/export feeds</h1>
        <h2>Import</h2>
        <form action="" method="post" id="formImportOPML" enctype="multipart/form-data">
            <span class="btn btn-default btn-file">Batch import feeds from OPML<input type="file" name="opmlfile" /></span>
            <button class="btn btn-default" type="submit">OK</button>
        </form>
        <h2>Export</h2>
        <a href="/export_opml/" class="btn btn-default">Export feeds to OPML</a>
    </div>
    <div class="jumbotron">
        <h1>Export articles</h1>
        <a href="/export/" class="btn btn-default">HTML</a>
    </div>
</div><!-- /.container -->
{% endblock %}
